@import '../common/common';

.contact {
    margin-top: 5rem;
    .container {
        max-width: 800px;
        .designing {
            margin-bottom: 5rem;
            .description {
                max-width: 100%;
                .date {
                    background-color: $pink;
                }
            }
        }
    }
    .sub_Caption {
        margin: 3rem 0;
    }
}
.reactAngle {
    width: 100%;
    margin: 3rem 0;
}