@import '../common/common';

.social {
    padding: 10rem 0 3rem 0;
    .socialUl {
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-bottom: 2rem;
        .socialLi {
            & img {
                width: 2.5rem;
            }
        }
    }
}

.footerText {
    text-align: center;
}