@import '../common/common';
 
.mainScrin {
    .mainContent {
        display: flex;
        justify-content: space-between;
        margin: 8rem 0;
        flex-wrap: wrap-reverse;
        gap: 3rem;
        .caption {
            max-width: 43rem;
        }
        .button {
            margin: 6rem 0;
        }
    }
}

.creativ_technologist {
    flex: 1 1 35rem;
}

.face {
    width: 100%;
}
