.works {
    margin-top: 5rem;
    .container {
        max-width: 800px;
        .caption {
            margin-bottom: 3rem;
        }
        .solid {
            margin: 2rem 0 4rem;
        }
    }
}